@media screen and (max-width: 985px) {
    body {background-image:url('/static/moblie_bcak.jpg');
            background-size:100%;}
}


@media screen and (min-width: 985px) {
   body {background-image:url('/static/background.jpg');
            background-size:100%;}
}


body {
    background-repeat: no-repeat;
    font-family: 微软雅黑细体;
}

#content {
    width: 80%;
    margin: 0 auto;
}

#url {
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}

#info {
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    margin-top: -3px;
    margin-bottom: 16px
}

#header {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    font-family: "Helvetica Neue";
    font-weight: bold;
}

#header a {
    font-size: 20px;
    color: rgba(175,170,170,0.75);
    position: relative;
    left: 77%;
}

#header #span {
    left: 20%;
    color: #D6D0D0
}

#result_warp {
    /*margin-top: 50px;*/
}

#result_text {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

hr {
    color: #fff;
    margin-top: 30px;
    margin-bottom:5px;
}

#result_status {
    color: #fff;
    font-size: 55px;
    text-align: center;
}
